.content {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 10px;
	background-color: black;
	padding: 10px;
	margin-bottom: 30px;
}

.content > header,
.content > article,
.content > footer {
  background-color: yellow;
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
}